<div>
    <form class="container pd10" >
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" id="url" class="form-control" placeholder="url" ng-model="url">
                </div>
                <div class="col-sm-4" ng-init="method='get'">
                    <select ng-model="method" class="form-control">
                        <option value="get">GET</option>
                        <option value="post">POST</option>
                        <option value="put">PUT</option>
                        <option value="delete">DELETE</option>
                    </select>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="form-group" ng-repeat="(k,v) in data">
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" value="{{k}}" class="form-control">
                </div>
                <div class="col-sm-4">
                    <input type="text" value="{{v}}"  class="form-control">
                </div>
                <div class="col-sm-4">
                    <a class='btn btn-danger'  ng-click="deleteData(k)">-</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" ng-model="newDataKey" class="form-control" placeholder="参数键">
                </div>
                <div class="col-sm-4">
                    <input type="text" ng-model="newDataValue" class="form-control" ng-keyup="$event.keyCode==13&&addData(newDataValue,newDataKey,data)" placeholder="参数值">
                </div>
                <div class="col-sm-4">
                    <a class='btn btn-success'  ng-click="addData(newDataValue,newDataKey,data)">+</a>
                </div>
            </div>

        </div>
        <div class="form-group">
            <a class='btn btn-success' id="getDiagram" ng-click="send(url,method,data)">SEND</a>
        </div>
    </form>




    <div id="moduleSwitches" class="pd10">

        <div ng-repeat="(module,color) in modules" class="switch">
            <input class="colorPicker" color-picker='{container:modules,id:module}'/>
            <span>{{module}}</span>
        </div>

    </div>

    <div class="diagram" ng-include="'listener.tpl.html'"></div>

    <div ng-if="source">
        <div ui-codemirror="{readOnly:false}" ng-model="source.function"></div>

        <div>
            <a class="btn btn-primary" ng-click="save(source)">save</a>
            <a class="btn btn-danger">cancel</a>
            <span ng-if="source.saved">saved</span>
        </div>
    </div>



    <script type="text/ng-template" id="listener.tpl.html">
        <div class="listener">
            <div class="listenerName module-{{listener.module}}}" ng-class="{newListener:listener.new}" style="background:{{modules[listener.module]}}">
                <span>{{listener.name}}</span>
                <span class="meta" ng-if="listener.argv" json-tooltip="listener.argv">
                    <i class="fa fa-arrow-down"></i>
                </span>
                <span class="meta" ng-if="listener.result" json-tooltip="listener.result">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <span class="meta" ng-if="listener.data" json-tooltip="listener.data">
                    <i class="fa fa-map-marker"></i>
                </span>
                <span class="meta" ng-if="listener.error" json-tooltip="listener.error">
                    <i class="fa fa-warning"></i>
                </span>
                <span class="meta" ng-if="triggeredEvent" ng-click="editSource(triggeredEvent.name, matchedEvent.namespace,listener.module,listener.name)">
                    <i class="fa fa-edit"></i>
                </span>
            </div>

            <div class="triggeredEvents">
                <div class="triggeredEvent" event-triggered="triggeredEvent" ng-repeat="triggeredEvent in listener.stack">
                    <div class="eventName">
                        <span>{{triggeredEvent.name}}</span>
                        <span class="" ng-if="triggeredEvent.argv" json-tooltip="triggeredEvent.argv">
                            <i class="fa fa-arrow-down"></i>
                        </span>
                    </div>
                    <div class="matchedEvents" >
                        <div class="matchedEvent" ng-repeat="matchedEvent in triggeredEvent.attached">
                            <div class="eventNameMatched">{{matchedEvent.namespace}}</div>
                            <div class="listeners">
                                <div ng-repeat="listener in matchedEvent.listeners" ng-include="'listener.tpl.html'"></div>
                            </div>
                        </div>
                        <div class="matchedEvent newMatchedEvent">
                            <div class="eventNameMatched" ng-click="addListenerModal(triggeredEvent.name,triggeredEvent.attached)">
                                <i class="fa fa-plus"></i>
                                <span>ADD</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <script type="text/ng-template" id="addListener.tpl.html">
        <div class="modal-header">
            <h3 class="modal-title">Add a new Listener</h3>
        </div>
        <div class="modal-body">
            <form name="addListener">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="newListener.namespace">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="newListener.module" placeholder="module name">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="newListener.name" placeholder="handler name">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="$close(newListener)">OK</button>
            <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
        </div>
    </script>
</div>
